
.effect-zoe .caption {
  top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	transition: 0.35s;
	transform: translate3d(0,100%,0);

}

.effect-zoe:hover .caption {
  transform: translate3d(0,0,0);
}
.effect-zoe .text-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.effect-zoe .desc {
  text-align: center;
  position: absolute;
	bottom: 8em;
	padding: 2em;
	color: white;
	text-transform: none;
	font-size: 90%;
  opacity: 0;
	transition: opacity 0.35s;
  transition-delay: 0.1s;
}
.effect-zoe:hover .desc {
  opacity: 1;
}
